---
import { Astronav, MenuItems, MenuIcon } from 'astro-navbar';
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from '../i18n/utils';
import { languages } from '../i18n/ui';
import type { NavBarItems } from '../data/types';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatedPath = useTranslatedPath(lang);

const navBarItems: NavBarItems[] = [
  {
    route: '',
    title: t('nav.home'),
  },
  {
    route: 'jovellanos',
    title: t('nav.jovellanos'),
  },
  {
    route: 'alameda23',
    title: t('nav.alameda23'),
  },
  {
    route: 'alameda33',
    title: t('nav.alameda33'),
  },
  {
    route: 'contacto',
    title: t('nav.contact'),
  },
];

const currentUrl = Astro.url.pathname;
const route = navBarItems.find(
  (item) => translatedPath(item.route) === currentUrl
);
---

<header class="lg:flex lg:w-4/5 w-screen sm:p-5 p-2 gap-5 mx-auto relative">
  <Astronav>
    <div class="flex w-full1 justify-between">
      <a href="/figueiras/">
        <img
          src="/figueiras/logofigueiras.svg"
          alt="Logo"
          width="200"
          height="100"
          class="w-40"
        />
      </a>
      <div class="block lg:hidden">
        <MenuIcon class="w-6 h-6 mt-6 text-gray-800" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex lg:items-center lg:ml-auto">
      <div
        class="sm:absolute relative top-auto pb-5 sm:top-4 sm:right-6 right-0 pt-4 sm:pt-2"
      >
        <ul class="flex gap-4 text-xs text-gray-400 justify-end">
          {
            Object.entries(languages).map(([lang, label]) => (
              <li>
                {lang === 'es' ? (
                  <a href={`/figueiras/${route?.route}`}>{label}</a>
                ) : (
                  <a href={`/figueiras/${lang}/${route?.route}`}>{label}</a>
                )}
              </li>
            ))
          }
        </ul>
      </div>
      <ul class="flex flex-col lg:flex-row lg:gap-5 lg:w-auto w-full">
        {
          navBarItems.map((item) => (
            <li class="my-1 lg:my-0">
              <a
                href={translatedPath(item.route)}
                class="bg-gray-100 px-2 py-1 uppercase text-sky-700 font-semibold text-sm hover:bg-gray-200 transition-colors durantion-300"
              >
                {item.title}
              </a>
            </li>
          ))
        }
      </ul>
    </MenuItems>
  </Astronav>
</header>
