---
import { houseReviews } from "../data/reviews";
---

<div class="flex flex-col items-center justify-center gap-14">
    <h3 class="uppercase text-2xl md:text-4xl text-center text-sky-700">
        Qué dicen de nuestras <br />casas rurales en <span class="font-bold"
            >Asturias</span
        >
    </h3>

    <div
        class="flex flex-col md:flex-row gap-7 bg-gray-100 w-screen items-center justify-center px-12 py-16"
    >
        {
            houseReviews.map((reviews) => {
                const { review, title, description, name, house, date } =
                    reviews;

                return (
                    <div class="grid grid-cols-1 grid-rows-1 h-[500px] w-[360px] shadow-xl bg-gray-50">
                        <div class="grid grid-cols-1 grid-rows-3 p-4">
                            <div class="flex flex-col gap-2">
                                <h4 class="text-2xl font-bold text-sky-600">
                                    {review}
                                </h4>
                                <p class="font-bold">{title}</p>
                            </div>

                            <p class="text-gray-600 text-[0.95rem]">
                                {description}
                            </p>

                            <a href="#" class="text-sky-600 font-bold pt-20">
                                Ver más
                            </a>
                        </div>
                        <div class="bg-sky-500 flex flex-col gap-3 p-4">
                            <h3 class="text-sky-700 font-bold uppercase">
                                {name}
                            </h3>
                            <p class="text-gray-50">
                                {house} | {date}
                            </p>
                        </div>
                    </div>
                );
            })
        }
    </div>
</div>

<div class="block flex-col md:flex-row gap-7 w-screen px-12 py-16">
    <!-- Contenedor principal de Swiper -->
    <div class="my-4" id="swiper2">
        <div class="swiper">
            <!-- Wrapper adicional requerido -->
            <div class="swiper-wrapper">
                <!-- Los slides -->
                <div class="swiper-slide">
                    <img src="1.jpg" alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="1.jpg" alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="1.jpg" alt="" />
                </div>
                <div class="swiper-slide">
                    <img src="1.jpg" alt="" />
                </div>
            </div>
            <!-- Botones de navegación -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>

<script>
    // Core de Swiper y estilos
    import Swiper from "swiper";
    import "swiper/css";
    // Módulo Navigation de Swiper y estilos
    import { Navigation } from "swiper/modules";
    import "swiper/css/navigation";

    // Configurar Swiper
    const swiper = new Swiper("#swiper2 .swiper", {
        modules: [Navigation], // definir los módulos a usar
        loop: true, // definir si los slides estarán en bucle
        slidesPerView: 3, // agregar número de slides para la pantalla
        spaceBetween: 40, // separación entre slides en px
        navigation: {
            // definir botones next y prev para el módulo Navigation
            prevEl: ".swiper-button-prev",
            nextEl: ".swiper-button-next",
        },
    });
</script>

<style>
    .swiper {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
